.jumbotron{
    background-image: url('./assets/img1.jpg');
    background-color:#34495E  ;
    background-size: cover;
    background-position: center;
    height: 500px;
    color:white;
    letter-spacing:2px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.product {
    background: #fff;
    padding-bottom: 2rem;
    border-radius: 5px;
    box-shadow: -1px 2px 34px -13px rgba(0,0,0,0.75);
    text-align: left;
    overflow: hidden;
  }

  .productText {
    margin-left: 15px;
  }

  .productTitle {
    color: #e74c3c;
    text-transform: uppercase;
    font-size: 1.1rem;
    padding: 1.8rem 0 0.2rem 0;
  }

  img {
    width: 100%;
    height: 220px;
  }

  .Homepage{
    display: flex;
  }