.jumbotron{
    background-image: url('./assets/img1.jpg');
    background-color:#34495E  ;
    background-size: cover;
    background-position: center;
    height: 500px;
    color:white;
    letter-spacing:2px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.product {
    background: #fff;
    padding-bottom: 2rem;
    border-radius: 5px;
    box-shadow: -1px 2px 34px -13px rgba(0,0,0,0.75);
    text-align: left;
    overflow: hidden;
  }

  .productText {
    margin-left: 15px;
  }

  .productTitle {
    text-transform: uppercase;
    font-size: .7rem;
    padding: 1.8rem 0 0.2rem 0;
    text-align: center;
  }

  img {
    width: 100%;
    height: 220px;
  }

  .Homepage{
    display: flex;
  }
  li {
      border:2px solid black;
      margin:3px;
      background-color: #34495E;
      padding-left:20px;
      color:white;
  }

  li:hover{
      background-color: #34495E;
      color:white;
      cursor: grab;
  }

  .discount{
      text-align: center;
      text-decoration: line-through;
  }

  .price{
    color:red;
    text-align: center;
    font-weight: 700;
}


  .container{
     
      font-family:"Comic Sans MS", cursive, sans-serif;
  }

 .addToCart{
   text-align: center;
   background-color: rgb(243, 12, 120);
   margin-left: 50px;
 }
 button{
  text-align: center;
 }

 .sizeButton{
   margin-left: 30px;
   margin-bottom: 10px;
 }
 .colorButton{
  margin-left: 30px;
  margin-bottom: 10px;
 }